.open-add-list {
  display: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.4rem;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: none;
  padding: 4px 6px;
  transition: opacity 100ms ease-in, display 100ms ease-in;

  &.active {
    display: flex;
  }

  i {
    margin-right: 4px;
    font-size: 2rem;
  }
}